/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #333;
    padding: 20px;
}
a {
    color: #3498db;
    text-decoration: none;
}
.site-title {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #bdc3c7;
}
article p {
    font-style: italic;
    font-size: 13px;
    text-align: center;
}
#ipForm {
    margin: 0 auto;
    max-width: 350px;
    position: relative;
    width: 100%;
}
#ipForm label {
    color: #333;
    font-size: 14px;
}
#ipForm #ipaddress {
    border: 1px solid #2980b9;
    max-width: 220px;
    padding: 10px 4px;
    width: 100%;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
#ipForm .ipaddress:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#ipForm .lookup-response {
    position: absolute;
    left: 205px;
    top: 35px;
}
#ipForm #errorMessage {
    color: #ecf0f1;
    font-size: 12px;
    margin-left: 1px;
    max-width: 221px;
    padding: 4px;
    width: 100%;
}
#ipForm #errorMessage.error {
    background: #c0392b;
}
#ipForm #errorMessage.success {
    background: #27ae60;
}
footer {
    bottom: 13px;
    font-size: 13px;
    position: fixed;
    right: 13px;
}


.btn {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 10px 14px;
  margin-top: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -ms-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: -o-linear-gradient(top, #eeeeee, #eeeeee);
  background-image: linear-gradient(top, #eeeeee, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  /* IE hacks */

  zoom: 1;
  z-index: 1;
  *display: inline;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  min-width: 42px;
  
  text-shadow: #ffffff 0 1px 0; 
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
  vertical-align: inherit;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  color: #333;
  text-decoration: none;
  background-color: #dcdcdc;
  background-image: -moz-linear-gradient(top, #dcdcdc, #dcdcdc);
  background-image: -ms-linear-gradient(top, #dcdcdc, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #dcdcdc);
  background-image: -o-linear-gradient(top, #dcdcdc, #dcdcdc);
  background-image: linear-gradient(top, #dcdcdc, #dcdcdc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#dcdcdc', GradientType=0);
  z-index: 100;
  outline: none;
}
.btn:active, .btn.active {
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #dcdcdc);
  background-image: -ms-linear-gradient(top, #eeeeee, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dcdcdc);
  background-image: -o-linear-gradient(top, #eeeeee, #dcdcdc);
  background-image: linear-gradient(top, #eeeeee, #dcdcdc);
  background-repeat: repeat-x;
   -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dcdcdc', GradientType=0);
}
.btn:focus {
  /* Blue border on button focus. */
  border-color: #4D90FE;
}
/* overrides extra padding on button elements in Firefox */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Red */
.btn.red {
  color: white;
  text-shadow: none;    
  background-color: #d84a38;
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#d14836', GradientType=0);
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled {
  background-color: #c53727;
  background-image: -moz-linear-gradient(top, #c53727, #c53727);
  background-image: -ms-linear-gradient(top, #c53727, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c53727), to(#c53727));
  background-image: -webkit-linear-gradient(top, #c53727, #c53727);
  background-image: -o-linear-gradient(top, #c53727, #c53727);
  background-image: linear-gradient(top, #c53727, #c53727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c53727', endColorstr='#c53727', GradientType=0);
}


.btn.red:active,
.btn.red.active
{
  background-color: #dd4b39;
  background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
  background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: -o-lineark-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c53727', GradientType=0);

}

/* Blue */
.btn.blue
{
  color: white;
  text-shadow: none;    
  background-color: #4d90fe;
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#4787ed', GradientType=0);
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
  background-color: #0072bb;
  background-image: -moz-linear-gradient(top, #0072bb, #0072bb);
  background-image: -ms-linear-gradient(top, #0072bb, #0072bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0072bb), to(#0072bb));
  background-image: -webkit-linear-gradient(top, #0072bb, #0072bb);
  background-image: -o-linear-gradient(top, #0072bb, #0072bb);
  background-image: linear-gradient(top, #0072bb, #0072bb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0072bb', endColorstr='#0072bb', GradientType=0);
}

.btn.blue:active,
.btn.blue.active
{
  background-color: #4d90fe;
  background-image: -moz-linear-gradient(top, #4d90fe, #0072bb);
  background-image: -ms-linear-gradient(top, #4d90fe, #0072bb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#0072bb));
  background-image: -webkit-linear-gradient(top, #4d90fe, #0072bb);
  background-image: -o-linear-gradient(top, #4d90fe, #0072bb);
  background-image: linear-gradient(top, #4d90fe, #0072bb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#0072bb', GradientType=0);

}
/* Green */
.btn.green {
  color: white;
  text-shadow: none;    
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #35aa47, #35aa47);
  background-image: -ms-linear-gradient(top, #35aa47, #35aa47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#35aa47));
  background-image: -webkit-linear-gradient(top, #35aa47, #35aa47);
  background-image: -o-linear-gradient(top, #35aa47, #35aa47);
  background-image: linear-gradient(top, #35aa47, #35aa47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#35aa47', GradientType=0);
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled]{
  background-color: #1d943b;
  background-image: -moz-linear-gradient(top, #1d943b, #1d943b);
  background-image: -ms-linear-gradient(top, #1d943b, #1d943b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d943b), to(#1d943b));
  background-image: -webkit-linear-gradient(top, #1d943b, #1d943b);
  background-image: -o-linear-gradient(top, #1d943b, #1d943b);
  background-image: linear-gradient(top, #1d943b, #1d943b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d943b', endColorstr='#1d943b', GradientType=0);
}

.btn.green:active,
.btn.green.active
{
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #35aa47, #1d943b);
  background-image: -ms-linear-gradient(top, #35aa47, #1d943b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#35aa47), to(#1d943b));
  background-image: -webkit-linear-gradient(top, #35aa47, #1d943b);
  background-image: -o-linear-gradient(top, #35aa47, #1d943b);
  background-image: linear-gradient(top, #35aa47, #1d943b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35aa47', endColorstr='#1d943b', GradientType=0);

}
/* Purple */
.btn.purple {
  color: white;
  text-shadow: none;    
  background-color: #852b99;
  background-image: -moz-linear-gradient(top, #852b99, #852b99);
  background-image: -ms-linear-gradient(top, #852b99, #852b99);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#852b99), to(#852b99));
  background-image: -webkit-linear-gradient(top, #852b99, #852b99);
  background-image: -o-linear-gradient(top, #852b99, #852b99);
  background-image: linear-gradient(top, #852b99, #852b99);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#852b99', endColorstr='#852b99', GradientType=0);
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
  background-color: #6d1b81;
  background-image: -moz-linear-gradient(top, #6d1b81, #6d1b81);
  background-image: -ms-linear-gradient(top, #6d1b81, #6d1b81);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6d1b81), to(#6d1b81));
  background-image: -webkit-linear-gradient(top, #6d1b81, #6d1b81);
  background-image: -o-linear-gradient(top, #6d1b81, #6d1b81);
  background-image: linear-gradient(top, #6d1b81, #6d1b81);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d1b81', endColorstr='#6d1b81', GradientType=0);
}

.btn.purple:active,
.btn.purple.active
{
  background-color: #35aa47;
  background-image: -moz-linear-gradient(top, #852b99, #6d1b81);
  background-image: -ms-linear-gradient(top, #852b99, #6d1b81);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#852b99), to(#6d1b81));
  background-image: -webkit-linear-gradient(top, #852b99, #6d1b81);
  background-image: -o-linear-gradient(top, #852b99, #6d1b81);
  background-image: linear-gradient(top, #852b99, #6d1b81);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#852b99', endColorstr='#6d1b81', GradientType=0);

}


.btn.black {
  color: white;
  text-shadow: none;    
  background-color: #555555;
  background-image: -moz-linear-gradient(top, #555555, #555555);
  background-image: -ms-linear-gradient(top, #555555, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#555555));
  background-image: -webkit-linear-gradient(top, #555555, #555555);
  background-image: -o-linear-gradient(top, #555555, #555555);
  background-image: linear-gradient(top, #555555, #555555);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#555555', GradientType=0);
}
.btn.black:hover,
.btn.black:focus,
.btn.black:active,
.btn.black.active,
.btn.black.disabled,
.btn.black[disabled] {
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #222222, #222222);
  background-image: -ms-linear-gradient(top, #222222, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#222222));
  background-image: -webkit-linear-gradient(top, #222222, #222222);
  background-image: -o-linear-gradient(top, #222222, #222222);
  background-image: linear-gradient(top, #222222, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#222222', GradientType=0);
}

.btn.black:active,
.btn.black.active
{
  background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -ms-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);

}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
